<div class="nav-btn">
  <i ng-click="nav.isMenuOpen = !nav.isMenuOpen"
     ng-class="nav.isMenuOpen ? 'fa-times' : 'fa-bars'"
     class="btn-menu fa fa-3x"></i><img src="assets/images/logo-invert.png" alt="radweiser">
</div>

<div ng-show="nav.isMenuOpen" class="nav-overlay nav-animate">
  <ul>
    <li><a ng-click="nav.close()" ui-sref="home">{{ 'menu.home' | translate }}</a></li>
    <li><a ng-click="nav.close()" ui-sref="faq">{{ 'menu.faq' | translate }}</a></li>
    <li><a ng-click="nav.close()" ui-sref="blog">{{ 'menu.blog' | translate }}</a></li>
    <!--<li><a ui-sref="">{{ 'menu.legal' | translate }}</a></li>-->
  </ul>
</div>