section.contact {
  width: 100%;
  background: $first-color;
  color: white;
  .contact-form{
    background: #F6EFE8;
    color: $first-color;
  }
  #contact-form{
    margin: 0 auto;
    width: 80%;
    color: black;
  }
}
