<div class="nav-btn">
  <i ng-click="nav.toggle()"
     ng-class="nav.isMenuOpen ? 'fa-times' : 'fa-bars'"
     class="btn-menu fa fa-3x"></i><img src="assets/images/logo-invert.png" alt="radweiser">
</div>

<!--<div ng-show="nav.isMenuOpen" class="nav-overlay nav-animate">-->
  <!--<ul>-->
    <!--<li><a ng-click="nav.close()" ui-sref="app.home">{{ 'menu.home' | translate }}</a></li>-->
    <!--<li><a ng-click="nav.close()" ui-sref="app.faq">{{ 'menu.faq' | translate }}</a></li>-->
    <!--<li><a ng-click="nav.close()" ui-sref="app.blog">{{ 'menu.blog' | translate }}</a></li>-->
  <!--</ul>-->
<!--</div>-->

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" >

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
  </md-toolbar>
  <md-content layout-padding="">
    <md-button ng-click="close()" class="md-primary" hide-gt-md="">
      Close Sidenav Left
    </md-button>
    <p hide-md="" show-gt-md="">
      This sidenav is locked open on your device. To go back to the default behavior,
      narrow your display.
    </p>
  </md-content>

</md-sidenav>